// Colors
$clr-primary: #CF7500;
$clr-primary-2: #c26e00;
$clr-light: #F4F4F4;
$clr-light-2: #e6e6e6;
$clr-light-3: #a8a8a8;
$clr-dark-1: #0D0D0F;
$clr-dark-2: #0C0E14;
$clr-dark-3: #131620;

// Transitions
$trn-long: .5s all ease-in-out;
$trn-short: .3s all ease;

// Breakpoints
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 31.25em; // 500px