.Footer {
    background-color: $clr-dark-1;
    padding: 5rem;
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 2.5rem 1rem;
    }
}

.Icon {
    border-radius: 50%;
    background-color: $clr-light;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $trn-short;

    svg {
        fill: $clr-dark-1;
        font-size: 1.8rem;
    }

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &:hover {
        cursor: pointer;
        background-color: $clr-primary;
    }

    @media only screen and (max-width: $bp-medium) {
        height: 5rem;
        width: 5rem;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        svg {
            font-size: 2.25rem;
        }
    }
}